@page
@model ClubBAISTDev.Pages.CreateTeeTimeModel
@{
    ViewData["Title"] = "Request Tee Times";
}
<head>
    <link rel="stylesheet" href="~/css/TeeTimeTable.css" />
    <script>
        function GetDate(inputElement) {
            var today = new Date();
            inputElement.value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        }

        function ValidateDate(inputElementValue) {
            var todaySecs = new Date().getTime();
            var nextWeekSecs = todaySecs + 7 * 24 * 60 * 60 * 1000;
            var inputSecs = new Date(inputElementValue).getTime();

            if (inputSecs > nextWeekSecs) {
                alert("You cannot schedule a tee time that's more than a week away");
                return false;
            } else {
                return true;
            }
        }
    </script>
</head>
<div>
    <h1>Tee Times</h1>

    <form method="post" name="ScheduleTeeTimeForm" onsubmit="return ValidateDate(window.document.ScheduleTeeTimeForm.TeeSheetDateField.value);">
        <table>
            <tr>
                <td>
                    <h3>Select Date of Requested Tee Sheet:</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="TeeSheetDateField" type="date" onclick="GetDate(window.document.ScheduleTeeTimeForm.TeeSheetDateField);"/>
                    <span asp-validation-for="TeeSheetDateField"></span>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="Submit" value="SearchTeeSheet">Search</button>
                </td>
            </tr>
        </table>
        <br/>
        <table>
            @if (Model.DailyTeeSheetConfirmation)
            {
                <tr>
                    <td>Date: @Model.TeeSheet.TeeSheetDate.ToLongDateString()</td>
                    <td>Day of Week: @Model.TeeSheet.TeeSheetDayOfWeek</td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        <table class="TeeTimeTable">
                            <tr>
                                <td>Time</td>
                                <td>Member Name</td>
                                <td>Number of Players</td>
                                <td>Phone</td>
                                <td>Number of Carts</td>
                                <td>Date</td>
                                <td>Scheduled Time</td>
                                <td>Players</td>
                                <td>Employee Name (If Applicable)</td>
                            </tr>
                            @foreach (var teeTime in Model.TodayTeeTimes)
                            {
                                <tr>
                                    <td>@teeTime.SetTeeTime.ToShortTimeString()</td>
                                    <td>@teeTime.MemberName</td>
                                    <td>@teeTime.NumberOfPlayers</td>
                                    <td>@teeTime.Phone</td>
                                    <td>@teeTime.NumberOfCarts</td>
                                    <td>@teeTime.SetTeeTime.ToShortDateString()</td>
                                    <td>@teeTime.SetTeeTime.ToShortTimeString()</td>
                                    <td>
                                        <table>
                                            @foreach (var player in teeTime.Players)
                                            {
                                                <tr><td>@player.PlayerName</td></tr>
                                            }
                                        </table>
                                    </td>
                                    <td>@teeTime.EmployeeName</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
            <tr><td><br /></td></tr>
            <tr>
                <td>
                    <h2>Create Tee Time</h2>
                </td>
            </tr>
            <tr>
                <td>Player 1:</td>
                <td>
                    <input type="text" name="Player1ListEntry" list="Player1List" />
                    <datalist id="Player1List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberId">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Player 2:</td>
                <td>
                    <input type="text" name="Player2ListEntry" list="Player2List" />
                    <datalist id="Player2List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberId">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Player 3:</td>
                <td>
                    <input type="text" name="Player3ListEntry" list="Player3List" />
                    <datalist id="Player3List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberId">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Player 4:</td>
                <td>
                    <input type="text" name="Player4ListEntry" list="Player4List" />
                    <datalist id="Player4List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberId">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>
                    <input asp-for="PhoneField" name="PhoneField" />
                    @Html.ValidationMessage("PhoneField")
                </td>
            </tr>
            <tr>
                <td>Number of Carts:</td>
                <td>
                    <input asp-for="NumberOfCartsField" name="NumberOfCartsField" />
                    @Html.ValidationMessage("NumberOfCartsField")
                </td>
            </tr>
            <tr>
                <td>Tee Time:</td>
                <td>
                    <input onclick="GetDate(window.document.ScheduleTeeTimeForm.TeeTimeField);" asp-for="TeeTimeField" name="TeeTimeField" type="time" />
                    @Html.ValidationMessage("TeeTimeField")
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="Submit" value="RequestTeeTime">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    @Model.Message
</div>


