@page
@model ClubBAISTDev.Pages.CreateTeeTimeModel
@{
    ViewData["Title"] = "Request Tee Times";
}
<head>
    <link rel="stylesheet" href="~/css/TeeTimeTable.css" />
    <script>
        function GetDate(inputElement) {
            var today = new Date();
            inputElement.value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        }

        function ValidateDate(inputElementValue) {
            var todaySecs = new Date().getTime();
            var nextWeekSecs = todaySecs + 7 * 24 * 60 * 60 * 1000;
            var inputSecs = new Date(inputElementValue).getTime();

            if (inputSecs > nextWeekSecs) {
                alert("You cannot schedule a tee time that's more than a week away");
                return false;
            } else {
                return true;
            }
        }
    </script>
</head>
<div>
    <h1>Tee Times</h1>

    <form method="post" name="DailyTeeSheetForm" onsubmit="return ValidateDate(window.document.DailyTeeSheetForm.TeeSheetDateField.value);">
        <table>
            <tr>
                <td>
                    <h3>Select Date of Requested Tee Sheet:</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="TeeSheetDateField" type="date" onclick="GetDate(window.document.DailyTeeSheetForm.TeeSheetDateField);"/>
                    <span asp-validation-for="TeeSheetDateField"></span>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="Submit" value="SearchTeeSheet">Search</button>
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <form method="post" name="TeeTimeForm">
        <table>
            @if (Model.DailyTeeSheetConfirmation)
            {
                <tr>
                    <td>
                        <h3>Select Date of Requested Tee Sheet:</h3>
                    </td>
                </tr>
                <tr>
                    <td>Date: @Model.TeeSheet.TeeSheetDate.ToLongDateString()</td>
                    <td>Day of Week: @Model.TeeSheet.TeeSheetDayOfWeek</td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        <table class="TeeTimeTable">
                            <tr>
                                <td>Time</td>
                                <td>Member Name</td>
                                <td>Number of Players</td>
                                <td>Phone</td>
                                <td>Number of Carts</td>
                                <td>Date</td>
                                <td>Scheduled Time</td>
                                <td>Employee Name (If Applicable)</td>
                            </tr>
                            @foreach (var teeTime in Model.TodayTeeTimes)
                            {
                                <tr>
                                    <td>@teeTime.TimeSlot.ToShortTimeString()</td>
                                    <td>@teeTime.MemberName</td>
                                    <td>@teeTime.NumberOfPlayers</td>
                                    <td>@teeTime.Phone</td>
                                    <td>@teeTime.NumberOfCarts</td>
                                    <td>@teeTime.TeeDate.ToShortDateString()</td>
                                    <td>@teeTime.SetTeeTime.ToShortTimeString()</td>
                                    <td>@teeTime.EmployeeName</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        <h2>Create Tee Time</h2>
                    </td>
                </tr>
                <tr>
                    <td>Time Slot:</td>
                    <td>
                        <input onclick="GetDate(window.document.TeeTimeForm.TimeSlotField);" asp-for="TimeSlotField" name="TimeSlotField" />
                        @Html.ValidationMessage("TimeSlotField")
                    </td>
                </tr>
                <tr>
                    <td>Number of Players:</td>
                    <td>
                        <input asp-for="NumberOfPlayersField" name="NumberOfPlayersField" />
                        @Html.ValidationMessage("NumberOfPlayersField")
                    </td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>
                        <input asp-for="PhoneField" name="PhoneField" />
                        @Html.ValidationMessage("PhoneField")
                    </td>
                </tr>
                <tr>
                    <td>Number of Carts:</td>
                    <td>
                        <input asp-for="NumberOfCartsField" name="NumberOfCartsField" />
                        @Html.ValidationMessage("NumberOfCartsField")
                    </td>
                </tr>
                <tr>
                    <td>Tee Time:</td>
                    <td>
                        <input onclick="GetDate(window.document.TeeTimeForm.SetTeeTimeField);" asp-for="SetTeeTimeField" name="SetTeeTimeField" />
                        @Html.ValidationMessage("SetTeeTimeField")
                    </td>
                </tr>
                <tr>
                    <td>Member ID:</td>
                    <td>
                        <input asp-for="MemberIdField" name="MemberIdField" />
                        @Html.ValidationMessage("MemberIdField")
                    </td>
                </tr>
                <tr>
                    <td>DailyTeeSheet ID:</td>
                    <td>
                        <input value="@Model.TeeSheet.DailyTeeSheetId" asp-for="DailyTeeSheetIdField" name="DailyTeeSheetIdField" disabled />
                        @Html.ValidationMessage("DailyTeeSheetIdField")
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="Submit" value="RequestTeeTime">Submit</button>
                    </td>
                </tr>
            }
        </table>
    </form>
    @Model.Message
</div>


