@page
@model ClubBAISTDev.Pages.RequestStandingTeeTimeModel
@{
    ViewData["Title"] = "Request Standing Tee Time";
}
<head>
    <link rel="stylesheet" href="~/css/TeeTimeTable.css" />
    <script>
        function GetDate(inputElement) {
            var today = new Date();
            inputElement.value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        }
    </script>
</head>
<div>
    <h1>Request Standing Tee Time</h1>

    <form method="post" name="RequestStandingTeeTimeForm">
        <table>
            <tr>
                <td>
                    <h2>Request Standing Tee Time</h2>
                </td>
            </tr>
            <tr>
                <td>Requested Day Of Week:</td>
                <td>
                    <input asp-for="RequestedDayOfWeekField" name="RequestedDayOfWeekField" />
                </td>
            </tr>
            <tr>
                <td>Requested Tee Time: (+- 30 min)</td>
                <td>
                    <input asp-for="RequestedTeeTimeField" name="RequestedTeeTimeField" type="time" />
                </td>
            </tr>
            <tr>
                <td>Requested Start Date:</td>
                <td>
                    <input onclick="GetDate(window.document.RequestStandingTeeTimeForm.RequestedStartDateField);" type="date" asp-for="RequestedStartDateField" name="RequestedStartDateField" />
                </td>
            </tr>
            <tr>
                <td>Requested End Date:</td>
                <td>
                    <input onclick="GetDate(window.document.RequestStandingTeeTimeForm.RequestedEndDateField);" type="date" asp-for="RequestedEndDateField" name="RequestedEndDateField" />
                </td>
            </tr>
            <tr>
                <td>Player 2:</td>
                <td>
                    <input type="text" name="Player2NameField" list="Player2List" />
                    <datalist id="Player2List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberName">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Player 3:</td>
                <td>
                    <input type="text" name="Player3NameField" list="Player2List" />
                    <datalist id="Player2List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberName">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Player 4:</td>
                <td>
                    <input type="text" name="Player4NameField" list="Player2List" />
                    <datalist id="Player2List">
                        @foreach (var member in Model.Members)
                        {
                            <option value="@member.MemberName">@member.MemberName</option>
                        }
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="Submit" value="RequestStandingTeeTime">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <br/>
    @Model.Message
</div>
